<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Test</title>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Welcome to my HomePage</h1>
  <h2>This page uses Django and Python</h2>
  <p>This is tutorial page.</p>
  <p>Here is the comparison between Python and Java</p>
  <table style="width:30%; border:1px solid #000">
    <tr style="border:1px solid #000">
        <th style="border:1px solid #000">Python</th>
        <th style="border:1px solid #000">Java</th>
    </tr>
      <tr style="border:1px solid #000">
       <td style="border:1px solid #000;text-align:center;">PyCharm</td>
       <td style="border:1px solid #000;text-align:center;">IntelliJ</td>
      </tr>
  </table>
  <br/>
  <button type="button">Submit Here</button>
</body>
</html>